<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.net.bmobile.websocketrails_android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

	<uses-permission android:name="android.permission.INTERNET"/>

    <application>
    </application>

</manifest>
